{% extends 'base.html' %}

{% block content %}
    <!-- <h2>BRUH</h2> -->
    <H2 style="text-align: center;"> {{ search | title }} </H2>

    <div class="row">
        {% for post in final_postings %}
        
        <!-- <p>{{ post.0 }}</p>
        <p>{{ post.1 }}</p>
        <p>{{ post.2 }}</p> -->
        <div class="col s4">
            <div class="card">
            <div class="card-image">
                <!-- <a href="{{ posting.1 }}"><img src="{{ posting.3 }}" alt="card image"></a> -->
                <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt=""></a>

            </div>
            <div class="card-content">
                <!-- <p>{{ posting.0 </p> -->
                    <p>{{ post.0 }}</p>

            </div>
            <div class="card-action">
                <!-- <a href="{{ posting.1 }}">View Listing: Price {{ posting.2 }}</a> -->
                <a href="{{ post.1 }}">View Listing: Price {{ post.2 }}</a>
            </div>
        </div>
        </div>    
    {% endfor %}
    </div>
    
{% endblock %}